<div>
  <fieldset class="container">
    <form [formGroup]="form" (submit)="onCreate(); form.reset()">
        <mat-form-field class="full-width">
          <input required matInput type="text" placeholder="Question" formControlName="campaignFaq_faqQuestion" (blur)="blur()">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input required matInput type="text" placeholder="Answer" formControlName="campaignFaq_faqAnswer" (blur)="blur()">
        </mat-form-field>
        <button class="btn btn-success m-2 float-right" type="submit">
          Add
        </button>
    </form>
  </fieldset>
  <fieldset class="container mt-3 p-3" *ngFor="let faq of faqs$|async">
    <div>
        <mat-form-field class="full-width">
          <input required [readonly]="!faq.editable" matInput type="text" placeholder="Question" [(ngModel)]="faq.campaignFaq_faqQuestion" (blur)="blur()">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input required [readonly]="!faq.editable" matInput type="text" placeholder="Answer" [(ngModel)]="faq.campaignFaq_faqAnswer" (blur)="blur()">
        </mat-form-field>
        <div class="row float-right">
          <button *ngIf="!faq.editable" class="btn btn-warning m-2" (click)="onEdit(faq)">Edit</button>
          <button *ngIf="faq.editable" class="btn btn-success m-2" (click)="onSave(faq)">Save</button>
          <button class="btn btn-danger m-2" (click)="onDelete(faq)">Delete</button>
        </div>
    </div>
  </fieldset>
</div>
