<footer>
  <div class="footer">
    <div class="row">
      <div class="col-4">
        <h3>Browse</h3>
        <p>Recently fundraises</p>
        <p>Popular fundraises</p>
        <p>Categories</p>
        <p>Start fundraise</p>
      </div>
      <div class="col-4">
        <h3>About</h3>
        <p>About Us</p>
        <p>FAQs</p>
        <p>Contacts</p>
        <p>How It Works</p>
      </div>
      <div class="col-4">
        <h3>Resources</h3>
        <p>Help & Support</p>
        <p>Blogs</p>
        <p>Terms and Conditions</p>
        <p>Fees and Pricing</p>
      </div>
    </div>
    <hr>
    <span>
      Tibibir Center
    </span>

    <span class='copyright'>
      &copy; {{ year|date }}
    </span>
  </div>
</footer>
