<p-tabView>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <span>Contents</span>
    </ng-template>
    <app-campaign-content-form></app-campaign-content-form>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <span>FAQ</span>
    </ng-template>
    <p>FAQ</p>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <span>Givings</span>
    </ng-template>
    <p>Givings</p>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <span>Support</span>
    </ng-template>
    <p>Support</p>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <span>Launch Campaign</span>
    </ng-template>
    <p>Launch Campaign</p>
  </p-tabPanel>
</p-tabView>
