<mat-card>
  <mat-card-title>Sign Up</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input
            matInput
            placeholder="Enter your name"
            formControlName="userAccount_firstName"
            required
            (blur)="blur()"
          />
          <mat-error *ngIf="displayMessage.userAccount_firstName">{{ displayMessage.userAccount_firstName }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input
            matInput
            placeholder="Enter your last name"
            formControlName="userAccount_lastName"
            required
            (blur)="blur()"
          />
          <mat-error *ngIf="displayMessage.userAccount_lastName">{{ displayMessage.userAccount_lastName }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            formControlName="userAccount_email"
            required
            (blur)="blur()"
          />
          <mat-error *ngIf="displayMessage.userAccount_email">{{ displayMessage.userAccount_email }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input
            matInput
            placeholder="0912345678"
            formControlName="userAccount_phoneNumber"
            required
            (blur)="blur()"
          />
          <mat-error *ngIf="displayMessage.userAccount_phoneNumber">{{ displayMessage.userAccount_phoneNumber }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            required
            formControlName="userAccount_password"
            (input)="onPasswordInput()"
            (blur)="blur()"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="displayMessage.userAccount_password">{{ displayMessage.userAccount_password }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            required
            formControlName="password_confirmation"
            (input)="onPasswordInput()"
            (blur)="blur()"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="displayMessage.password_confirmation">{{ displayMessage.password_confirmation }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button
          type="submit"
          id="submitBtn"
          mat-raised-button
          color="primary"
          [disabled]="form.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
