<div class="container mt-3">
  <h2>{{campaign?.campaign_title|uppercase}}</h2>
  <div class="row mt-3">
    <div class="col-8">
      <div class="row container">
        <img [src]="coverPhotoPath">
      </div>
      <div class="row container">
        <p-tabView>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <span>Story</span>
            </ng-template>
            <p>
              {{campaign?.campaign_story}}
            </p>
          </p-tabPanel>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <span>FAQ</span>
            </ng-template>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequatur officiis temporibus incidunt architecto ab corrupti veritatis. Beatae eaque magnam natus quam dolorem facere. Voluptates numquam maxime eum blanditiis tempore!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequatur officiis temporibus incidunt architecto ab corrupti veritatis. Beatae eaque magnam natus quam dolorem facere. Voluptates numquam maxime eum blanditiis tempore!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequatur officiis temporibus incidunt architecto ab corrupti veritatis. Beatae eaque magnam natus quam dolorem facere. Voluptates numquam maxime eum blanditiis tempore!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequatur officiis temporibus incidunt architecto ab corrupti veritatis. Beatae eaque magnam natus quam dolorem facere. Voluptates numquam maxime eum blanditiis tempore!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequatur officiis temporibus incidunt architecto ab corrupti veritatis. Beatae eaque magnam natus quam dolorem facere. Voluptates numquam maxime eum blanditiis tempore!
            </p>
          </p-tabPanel>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <span>Updates</span>
            </ng-template>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptatibus magnam doloremque dolores corporis soluta officiis repudiandae laborum, iure ipsum illo expedita ad, rem molestias perferendis a distinctio, quidem consequuntur!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptatibus magnam doloremque dolores corporis soluta officiis repudiandae laborum, iure ipsum illo expedita ad, rem molestias perferendis a distinctio, quidem consequuntur!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptatibus magnam doloremque dolores corporis soluta officiis repudiandae laborum, iure ipsum illo expedita ad, rem molestias perferendis a distinctio, quidem consequuntur!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptatibus magnam doloremque dolores corporis soluta officiis repudiandae laborum, iure ipsum illo expedita ad, rem molestias perferendis a distinctio, quidem consequuntur!
            </p>
          </p-tabPanel>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <span>Contact</span>
            </ng-template>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut consequatur reprehenderit porro a similique fugiat ab minus molestias cumque sint debitis perferendis quisquam, sapiente nisi culpa id eaque vitae ullam.
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut consequatur reprehenderit porro a similique fugiat ab minus molestias cumque sint debitis perferendis quisquam, sapiente nisi culpa id eaque vitae ullam.
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut consequatur reprehenderit porro a similique fugiat ab minus molestias cumque sint debitis perferendis quisquam, sapiente nisi culpa id eaque vitae ullam.
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut consequatur reprehenderit porro a similique fugiat ab minus molestias cumque sint debitis perferendis quisquam, sapiente nisi culpa id eaque vitae ullam.
            </p>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
    <div class="col">
      <mat-card>
        <mat-card-content class="container">
          <div class="row ">
            <button class="btn btn-success btn-lg">Donate</button>
          </div>
          <div class="row mt-3">
            <button class="btn btn-success btn-lg">Share</button>
          </div>
          <div class="row mt-3">
            <p>{{campaign?.fundRecord[0]?.fundRecord_totalDonations}} Raised of {{campaign.campaign_fundGoal}} goal</p><span class="ml-3">{{campaign?.fundRecord[0]?.fundRecord_raisedPercentage}}%</span>
            <mat-progress-bar style="height: 30px;" mode="determinate" [value]="campaign?.fundRecord[0]?.fundRecord_raisedPercentage">
            </mat-progress-bar>
            <p>150 Donors</p><span class="ml-3">15 days left</span>
          </div>
          <div class="row">
            {{campaign?.campaign_story}}
          </div>
          <hr>
          Want to volunter?
          <hr>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
