.all-wrap {
  min-height: 100vh; // same height as browser window height
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // same height as browser window height
}

.content {
  flex: 1; // child will set to an equal size inside the container
}

main {
  display: flex;
  flex-direction: column;

  // Select all direct descendants only of the <main> element
  // that are not <router-outlet> elements:
  > *:not(router-outlet) {
    flex: 1; // child will set to an equal size inside the container
    display: block;
  }
}

footer {
  height: 40px;
  text-align: center;
  padding-top: 5px;
  background-color: white;
}

mat-toolbar {
  background-color: white;
  color: #7dc243;
}

.mat-drawer-content {
  overflow: hidden !important;
}

.example-spacer {
  flex: 1 1 auto;
}

#logo {
  cursor: pointer;
  outline: 0;
}
