<div (click)="onCampaignClick(campaign)" style="cursor: pointer;">
  <mat-card id="header-card">
    <div class="row">
      <p class="col">Status</p>
      <!-- <p class="col">{{campaign.campaign_approval?.statusType}}</p> -->
      <p class="col">OPEN</p>
    </div>
  </mat-card>
  <mat-card>
    <img mat-card-image height="200px"
      src="https://www.gannett-cdn.com/-mm-/d3b6dffaeec46acd6996b0f8d5e950f095216e0b/c=0-125-2045-1280/local/-/media/2018/06/12/USATODAY/USATODAY/636643942202141206-GettyImages-515836063.jpg?width=660&height=373&fit=crop&format=pjpg&auto=webp"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      {{campaign.campaign_title}}
      <p>
        {{campaign.campaign_tagline}}
      </p>
      <div class="row container">
        {{campaign.campaign_story}}
      </div>
      <div class="row">
        <div class="col-10">
          <mat-progress-bar style="height: 20px;" mode="determinate" [value]="campaign.progress_percentage">
          </mat-progress-bar>
        </div>
        <div class="col">
          {{campaign.progress_percentage}}
        </div>
      </div>
      <div class="row container">
        <span style="font-weight: bold;">{{campaign.campaign_fundRecord?.totalDonation}} </span>&nbsp;<span>raised of
          {{campaign.campaign_fundGoal}}</span>
      </div>
      <div class="row float-right mr-3">
        <span>{{campaign.campaign_category}}</span>
      </div>
    </mat-card-content>
    <mat-card-footer id="header-card">
      <div class="row container p-3">
        <p class="col">End Date</p>
        <p class="col">{{campaign.campaign_endingDate|date}}</p>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
