<div (click)="onCampaignClick(campaign)" style="cursor: pointer;">
  <mat-card *ngIf="!noHeader" id="header-card">
    <div class="row">
      <p class="col">Status</p>
      <p class="col">{{campaign?.campaignApproval[0]?.campaignApproval_status|uppercase}}</p>
    </div>
  </mat-card>
  <mat-card>
    <img mat-card-image height="200px"
      [src]="photoPath"
      alt="Campaign Cover Picture">
    <mat-card-content>
      {{campaign.campaign_title}}
      <p>
        {{campaign.campaign_tagline}}
      </p>
      <div class="row container">
        {{campaign.campaign_story}}
      </div>
      <div class="row">
        <div class="col-8">
          <mat-progress-bar style="height: 20px;" mode="determinate" [value]="campaign?.fundRecord[0].fundRecord_raisedPercentage">
          </mat-progress-bar>
        </div>
        <div class="col" *ngIf="campaign?.fundRecord">
          {{campaign?.fundRecord[0].fundRecord_raisedPercentage}}%
        </div>
      </div>
      <div class="row container">
        <span style="font-weight: bold;">{{campaign?.fundRecord[0]?.fundRecord_totalDonations}} </span>&nbsp;<span>raised of &nbsp;</span>
         <span style="font-weight: bold;">{{campaign.campaign_fundGoal}}</span>
      </div>
      <div class="row float-right mr-3">
        <span>{{campaign.campaign_category}}</span>
      </div>
    </mat-card-content>
    <mat-card-footer *ngIf="!noFooter" id="header-card">
      <div class="row container p-3">
        <p class="col">End Date</p>
        <p class="col">{{campaign.campaign_endingDate|date}}</p>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
