<h2 mat-dialog-title>{{data.title}}</h2>
<form [formGroup]="form" (submit)="onSubmit()" enctype="multipart/form-data">
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input required matInput type="text" placeholder="Title" formControlName="campaign_title" (blur)="blur()">
      <mat-error *ngIf="displayMessage.campaign_title">{{ displayMessage.campaign_title }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input required matInput type="text" placeholder="Tagline" formControlName="campaign_tagline" (blur)="blur()">
      <mat-error *ngIf="displayMessage.campaign_tagline">{{ displayMessage.campaign_tagline }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input required matInput type="text" placeholder="Type" formControlName="campaign_type" (blur)="blur()">
      <mat-error *ngIf="displayMessage.campaign_type">{{ displayMessage.campaign_type }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select required formControlName="campaign_category" placeholder="Category" (blur)="blur()">
        <mat-option *ngFor="let c of categories" [value]="c">
          {{c}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="displayMessage.campaign_category">{{ displayMessage.campaign_category }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="number" required placeholder="Fundraising Goal" formControlName="campaign_fundGoal"
        (blur)="blur()">
      <mat-error *ngIf="displayMessage.campaign_fundGoal">{{ displayMessage.campaign_fundGoal }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="date" placeholder="End Date" formControlName="campaign_endingDate" (blur)="blur()">
      <mat-error *ngIf="displayMessage.campaign_endingDate">{{displayMessage.campaign_endingDate}}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput placeholder="Story" formControlName="campaign_story"></textarea>
      <mat-error *ngIf="displayMessage.campaign_story">{{displayMessage.campaign_story}}</mat-error>
    </mat-form-field>

    <fieldset>
      <legend class="w-auto">Campaign Location</legend>
      <div class="container">
        <mat-form-field class="full-width">
          <input required matInput type="text" placeholder="Region" formControlName="region" (blur)="blur()">
          <mat-error *ngIf="displayMessage.region">{{ displayMessage.region }}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input required matInput type="text" placeholder="City" formControlName="city" (blur)="blur()">
          <mat-error *ngIf="displayMessage.city">{{ displayMessage.city }}</mat-error>
        </mat-form-field>
      </div>
    </fieldset>

    <div class="col-sm-12">
      <mat-label>Cover picture</mat-label>
      <!-- <input type="type" formControlName="campaign_imageUrl" (change)="onPhotoSelect($event)" required /> -->
      <p-fileUpload accept=".jpg,.jpeg" maxFileSize="2000000" fileLimit="1"
        invalidFileSizeMessageDetail="Maximum file size is 2Mb" showCancelButton showUploadButton
        (onSelect)="onPhotoSelect($event)" (onRemove)="onPhotoRemove()" [previewWidth]="100">
      </p-fileUpload>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <div class="button-row">
      <button mat-stroked-button color="primary" type="submit">
        <mat-icon>save</mat-icon>
        Save
      </button>
      &nbsp;
      <button mat-stroked-button type="button" color="accent" (click)="onCancel()">
        <mat-icon>remove_circle</mat-icon>
        Cancel
      </button>
    </div>
  </mat-dialog-actions>
</form>
