.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;

}
.app-sidenav-container {
  flex-grow: 1;
}

/* content area styles */
.main-content {
  height: 100%;
  z-index: 1000;
}

.sidebar-menu-content {
  display: flex;
  height: 100%;
  padding: 0 5px;
}

#sidebar-menu.e-dock.e-close .e-menu-wrapper ul .e-menu-item .e-caret,
#sidebar-menu.e-dock.e-close .main-menu-header,
#sidebar-menu.e-dock.e-close .action-btn {
  display: none;
}

.dock-menu.e-close .e-menu-wrapper ul .e-menu-item {
  width: 50px;
}

.dock-menu.e-close ul .e-menu-item.e-menu-caret-icon {
  padding-right: 12px;
}

#sidebar-menu,
#sidebar-menu ul,
#header ul,
.dock-menu .e-menu-wrapper,
.dock-menu.e-menu-wrapper,
.dock-menu.e-menu-wrapper ul > *,
.dock-menu .e-menu-wrapper ul > * {
  background-color: #253246 !important;
  color: #1d4c9c !important;
}

.e-anchor-wrap {
  color: white !important;
}

.e-menu-wrapper ul .e-menu-item .e-menu-icon, .e-menu-container ul .e-menu-item .e-menu-icon{
  color: white;
  font-size: 16px;
  margin-right: 11px;
}
/*main-menu-header  styles */
#sidebar-menu .main-menu-header {
  padding: 4px 0 0 18px;
  color: #eff2f7;
}

/* custom code start */
/*end of button styles */
.sb-content-tab #wrapper {
  display: none;
}

.center {
  text-align: center;
  display: none;
  font-size: 13px;
  font-weight: 400;
  margin-top: 20px;
}

.sb-content-tab .center {
  display: block;
}
#sidebar-menu {
  margin-left: -1px;
}

.ej2-new .sb-header,
.ej2-new .sb-bread-crumb,
.ej2-new #action-description,
.ej2-new #description-section,
.ej2-new #description,
.ej2-new .action {
  display: none;
}


