.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.main-header {
  border-bottom: 1px solid #d2d6de;
  height: 55px;
  min-height: 55px;
  max-height: 55px;
  background: #1c86c8;
  color: #fff;
}
