.grid-container {
  margin: 20px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
}
#header-card {
  background-color: #7dc243;
  color: white;
  font-weight: bold;
}

button:focus {
  outline: 0 !important;
}
