.header {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: #7dc243;
  align-items: center;
  color: lightgray;
}

.title {
  margin-left: 20px;
  font-size: 16pt;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}
