<div class="header">
  <button *ngIf="!noToggle" mat-icon-button (click)="onToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title" routerLink="/">{{ title }}</span>
  <p-dropdown class="ml-3" [options]="categories" (onChange)="onExplore(selectedCategory)" placeholder="Explore Campaigns" [(ngModel)]="selectedCategory" optionLabel="name"></p-dropdown>
  <span class="spacer"></span>
  <button mat-button>
    <mat-icon>account_circle</mat-icon>
    Abebe Kebede
  </button>
  <button mat-button (click)="onLogout()" id="logout">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</div>
